body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.youtube-text {
    color: black;
}
.tube-text {
    background: red;
    color: white;
    padding: 3px 5px;
    border-radius: 4px;
}
.profile-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff0000; 
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}
.categories {
    display: flex;
    gap: 10px;
    padding: 15px;
    overflow-x: auto;
}
.category-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #e0e0e0;
    color: #333;
    text-decoration: none; 
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  .category-btn:hover {
    color: red;
  }
  
  .category-btn.active {
    color: red;
    font-weight: bold;
    background-color: #e0e0e0;
  }
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}
.video-card {
    background: white;
    padding: 28px;
   
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.video-card:hover {
    transform: scale(1.05);
}
.video-card img {
    width: 60%;
    height:auto;
    border-radius: 8px;
}
.video-info {
    padding: 10px 0;
}
.video{
    width:300px;
}
