.sidebar {
    width: 150px;
    height: 100vh;
    position: fixed;
    background: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar h2 {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    margin: 15px 0;
}
.sidebar ul li a {
    text-decoration: none; 
    font-size: 16px;
    color: black;
    display: block;
    padding: 5px 0;
}
.sidebar ul li a:hover {
    color: red;
}
.content {
    margin-left: 250px; 
    padding: 20px;
}
h1 {
    font-size: 24px;
}
.video-container {
    display: flex;
    gap: 10px;
    width: 600px;
}
.video {
    width: 250px;
    text-align: center;
}
.video video {
    width: 100%;
    border-radius: 10px;
}
